* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    background-color: #1f2937;
    color: #ffffff;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}

h1 {
    padding: 10px 0;
}

.container > ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    align-items: center;
}

.hero {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: white;
    padding: 80px;
}

.hero-left {
    width: 600px;
}

.hero-left > h2 {
    font-size: 48px;
}

.hero-left > p {
    margin-top: 20px;
}

.hero-left > button {
    border: none;
    padding: 5px 15px;
    border-radius: 7px;
    background-color: #3882f6;
    color: white;
    margin-top: 20px;
}

.hero-right > img {
    width: 500px;
    border-radius: 7px;
}

.information-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

.information-section > .container {
    padding: 30px 100px;
    margin-top: 50px;
}

.information-section > h2 {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.cards-section {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1200px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card > img {
    border: 3px solid #3882f6;
    border-radius: 7px;
    width: 200px;
}

.card > p {
    margin-top: 10px;
}

.quote-section {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    margin-top: 70px;
}

.quote-section-container {
    width: 1200px;
    padding: 150px 150px;
}

.quote-section-container > h2 {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

.quote-section-container > p {
    text-align: end;
    font-weight: 700;
}

.call-to-action {
    display: flex;
    justify-content: center;
}

.call-to-action > .container {
    background-color: #3882f6;
    border-radius: 7px;
    padding: 20px 100px;
    align-items: center;
    color: white;
    margin: 50px 0;
}

.call-to-action-left > h2 {
    font-size: 20px;
    font-weight: 600;
}

.call-to-action-left > p {
    font-size: 16px;
    margin-top: 5px;
}

.call-to-action-right > button {
    background-color: transparent;
    border: 1px solid white;
    padding: 5px 20px;
    color: white;
    border-radius: 7px;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: #1f2937;
    color: white;
    font-size: 16px;
}